.WhatsHappening {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
    padding-top: 0;
    flex-wrap: wrap;
    padding-bottom: 15%;
    background: #111111;
}

.WhatsHappeningText {
    font-family: 'Crimson';
    color: #696969;
    font-size: 24px;
}

.WhatsHappeningHeading {
    font-family: 'Druk';
    font-size: 50px;
    color: white;
}

.WhatsHappeningLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.WhatsHappeningRight {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    padding-left: 2%;
}

.WhatsHappeningCard {
    border: 1px solid #505050;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    width: 50%;
    color: white;
    height: 400px;
    background: #222222;
}

.WhatsHappeningCardHeading {
    font-family: 'Druk';
    font-size: 24px;
}

.WhatsHappeningCardBody {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}

.WhatsHappeningCardLearn {
    font-weight: 900;
    font-family: 'Neue Haas Grotesk Display Pro';

    font-style: normal;
    color: #EAAA00;
    border: 2px solid #EAAA00;
    padding: 2%;
    width: 50%;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .WhatsHappeningHeading {
        font-size: 28px;
    }

    .WhatsHappeningText {
        font-size: 16px;
    }

    .WhatsHappeningRight {
        min-width: 100%;
        flex-wrap: wrap;
    }

    .WhatsHappeningLeft {
        min-width: 100%;
    }

    .WhatsHappeningCard {
        width: 100%;
        margin-top: 10%;
    }
}