.FAQ {
    padding: 10%;
    padding-top: 0;
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.FAQHeading {
    font-size: 36px;
    font-family: 'Druk';
}

.Question {
    font-weight: 600;
    font-size: 24px;
}

.Answer {
    font-size: 24px;
    line-height: 150%;
}