.Alumni {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    row-gap: 50px;
}

.AlumniText {
    font-family: 'Crimson';
    color: #696969;
    font-size: 18px;
    text-align: center;
}

.AlumniHeading {
    padding-left: 13%;
    padding-right: 13%;
    font-size: 36px;
    font-family: 'Druk';
    text-align: center;
}

.AlumniSubHeading {
    font-size: 21px;
    font-weight: 600;
    text-align: center;

}

.AlumniSubSubHeading {
    color: #EAAA00;
    font-weight: 600;
    font-size: 21px;
}
.AlumniDesc {
    padding-left: 22%;
    margin-top: -3%;
    flex-direction: column;
    row-gap: 20px;
    font-size: 21px;
    line-height: 150%;
}

.AlumniBody {
    font-size: 24px;
    line-height: 150%;
}

.yellow {
    color: #EAAA00;
}

.AlumniImage {
    padding-top: 10%;
    padding-bottom: 10%;
}

@media screen and (max-width: 700px) {
    .Alumni {
        padding-left: 10%;
        padding-right: 10%;
    }
}