.Partnering {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    row-gap: 50px;
}

.PartneringHeading {
    font-size: 36px;
    font-family: 'Druk';
}

.PartneringSubHeading {
    font-size: 24px;
    font-weight: 600;
}

.PartneringSubSubHeading {
    color: #EAAA00;
    font-weight: 600;
    font-size: 24px;
}

.PartneringBody {
    font-size: 24px;
    line-height: 150%;
}

.yellow {
    color: #EAAA00;
}

.PartneringImage {
    padding-top: 10%;
    padding-bottom: 10%;
}

@media screen and (max-width: 700px) {
    .Partnering {
        padding-left: 10%;
        padding-right: 10%;
    }
}