.ExecBoard {
    padding: 10%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExecBoardText {
    font-family: 'Crimson';
    color: #696969;
    font-size: 18px;
}

.ExecBoardBody {
    line-height: 150%;
    font-size: 21px;
    color: #fff;
    text-align: center;
    width: 60%;
}

.ExecBoardHeading {
    font-family: 'Druk';
    font-size: 36px;
    color: white;
    margin-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

.ExecBoardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 3%;
    column-gap: 2%;
    row-gap: 40px;
    padding-bottom: 60px;

}

.ExecBoardExecDirContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 3%;
    column-gap: 4%;
    row-gap: 40px;
    padding-bottom: 60px;
}

.ExecBoardExecDirCard {
    width: 30%;
    border: 1px solid #515151;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExecBoardCard {
    width: 18%;
    border: 1px solid #515151;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExecBoardCardContainer {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.ExecBoardCardImageContainer {
    width: 150px;
    height: 150px;
}

.ExecDirCardImageContainer {
    width: 179px;
    height: 179px;
}

.ExecBoardCardName {
    font-family: 'Crimson';
    font-size: 20px;
    margin-top: 7%;
    margin-bottom: 2%;
}

.ExecBoardCardTitle  {
    color: #fff;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    text-align: center;
}

.ExecBoardCardEmail  {
    color: #EAAA00;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    padding-top: 20px;
}

.ExecBoardTitle {
    background: #EAAA00;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    margin-top: -15px;
    color: white;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .ExecBoardText {
        font-size: 16px;
    }

    .ExecBoardCard {
        width: 100%;
    }
    .ExecBoardExecDirContainer {
        padding-right:  26%;

        flex-direction: row;
        width: 180%;
        padding-top: 5%;
        /* column-gap: 1%; */
        row-gap: 30px;
    }
    .ExecBoardBody {
        width: 75%;
        padding: 10% 0% 10% 0%;
        text-align: left;
    }
}