.ContactHero {
    padding: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
    flex-wrap: wrap;
    row-gap: 5px;
    color: white;
}

.ContactHeroLeft {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.ContactHeroEmail {
    font-size: 24px;
    font-family: 'Crimson';
}

.ContactHeroEmail:hover {
    cursor: pointer;
    color: #eaaa00;
}

.ContactHeroHeading {
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Crimson';
}

.ContactHeroAddressContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 24px;
}

.ContactHeroSubHeading {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #C4C4C4;
    letter-spacing: 0.215em;

}

.ContactHeroAddress {
    font-family: 'Crimson';
    font-size: 20px;
    line-height: 100%;
}

.ContactHeroView {
    font-size: 18px;
    color: #F2B111;
    font-weight: 900;
    transition: 0.3s;
}

.ContactHeroView:hover {
    color: #FFF;
}

.ContactHeroArrow {
    padding-left: 10px;
}

@media screen and (max-width: 700px) {
    .ContactHero {
        padding-top: 10%;
    }
}