.SponsorsText {
    font-family: 'Crimson';
    color: #696969;
    font-size: 18px;
}

.Sponsors {
    display: flex;
    flex-direction: column;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 5%;
}

@media screen and (max-width: 700px) {
    .SponsorsText {
        font-size: 16px;
    }
}