.heroImageContainer {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.Hero {
    background-image: url(../../assets/images/heroimage.png);
    background-size: cover;
    height: 100vh;
}

.HeroContentContainer {
    width: 70%;
    margin-left: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.HeroHeading {

    font-family: 'Druk';
    font-size: 60px;
}

.HeroHeadingStartup {
    background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #eaaa00 90.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 74px;
    line-height: 80%;
}

.HeroHeadingExchange {
    background: -webkit-linear-gradient(-45deg, #eaaa00 0%, #F2994A 88.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 74px;
}


.HeroHeadingsContainer {

}

.HeroSubHeading {
    width: 100%;
    color: white;
    font-size: 24px;
    font-family: 'Crimson Text', serif;
}


.HeroBody {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 24px;
    padding-top: 2%;
}

.eventLink {
    font-size: 20px;
    color: #eaaa00;
    font-weight: 700;
    padding-top: 20px;
    cursor: pointer;
}

.eventLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
}

.HeroArrow {
    padding-right: 10px;
}

.arrow {
    margin-right: 4%;
}

.Hero {
    width: 100vw;
}

@media screen and (max-width: 700px) {
    .HeroHeading  {
        font-size: 36px;
    }
    .HeroHeadingStartup {
        font-size: 44px;
    }
    .HeroHeadingExchange {
        font-size: 44px;
    }
    .HeroContentContainer {
        width: 80%;
    }

    .HeroSubHeading {
        font-size: 14px;
    }

    .HeroBody {
        font-size: 16px;
        margin-top: 80%;
    }

    .eventLink {
        font-size: 16px;
    }
}

@media screen and (max-width: 390px) {
    .HeroHeading {
        font-size: 32px;
    }

    .HeroHeadingStartup {
        font-size: 38px;
    }
    .HeroHeadingExchange {
        font-size: 38px;
    }
    .HeroSubHeading {
        font-size: 12.5px;
    }
}