.heroImageContainer {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.Hero {
    /* background-image: url(../../assets/images/heroimage.png); */
    background-image: url(../../assets/images/heroimage2.png);
    background-size: cover;
    height: 100vh;
}

.HeroContentContainer {
    width: 70%;
    margin-left: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.HeroHeading {

    font-family: 'Druk';
    font-size: 60px;
}

.HeroHeadingStartup {
    background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #eaaa00 90.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 74px;
    line-height: 80%;
}

.HeroHeadingExchange {
    background: -webkit-linear-gradient(-45deg, #eaaa00 0%, #F2994A 88.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 74px;
}


.HeroHeadingsContainer {

}

.HeroSubHeading {
    width: 100%;
    color: white;
    font-size: 24px;
    font-family: 'Crimson Text', serif;
}


.HeroBody {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 24px;
    padding-top: 2%;
    padding-right: 35%;
}

.eventLink {
    font-size: 18px;
    color: #eaaa00;
    font-weight: 700;
    border-radius: 40px;
    border: 1px solid #eaaa00;
    /* border: 1px solid; */
    /* border-image-slice: 1; */
    background-color: transparent;
    text-align: center;

    /* height: 45px; */
    margin-top: 40px;
    margin-right: 25px;
    padding: 15px 30px 15px 30px;

    cursor: pointer;
    transition: 0.3s;
}

.eventLinkGradient {
    border-image-source: linear-gradient(to left, #eaaa00, #F2994A);
}

.eventLink:hover {
    color: #fff;
    background-color: #eaaa00;
    border: 1px solid #eaaa00;

}

.eventLinkWhite {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: transparent;
    text-align: center;

    /* height: 45px; */
    margin-top: 40px;
    margin-right: 25px;
    padding: 15px 30px 15px 30px;

    cursor: pointer;
    transition: 0.3s;
}

.eventLinkWhite:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;

}

.eventLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
}

.HeroArrow {
    padding-left: 10px;
}


.arrow {
    margin-right: 4%;
}

.Hero {
    width: 100vw;
}
@media screen and (max-width: 1200px) {
    .HeroBody {
        padding-right: 10%;
    }
}

@media screen and (max-width: 700px) {
    .HeroHeading  {
        font-size: 36px;
    }
    .HeroHeadingStartup {
        font-size: 72px;
    }
    .HeroHeadingExchange {
        font-size: 60px;
    }
    .HeroContentContainer {
        padding-top: 10%;
        padding-left: 1%;
        width: 80%;
    }

    .HeroSubHeading {
        font-size: 23px;
    }

    .HeroBody {
        margin-top: 30%;
        padding-right: 15%;
    }

    .eventLink {
        font-size: 16px;
    }
}

@media screen and (max-width: 390px) {
    .HeroHeading {
        font-size: 32px;
    }

    .HeroContentContainer {
        padding-top: 15%;
    }
    .HeroBody {
        font-size: 18px;
        line-height: 125%;
        margin-top: 10%;
        padding-right: 4%;

    }
    .HeroHeadingStartup {
        font-size: 42px;
    }
    .HeroHeadingExchange {
        font-size: 36px;
    }
    .eventLink {
        margin-top: 100px;
        padding: 15px 58px 15px 58px;
    }
    .eventLinkWhite {
        margin-top: 20px;
        padding: 15px 78px 15px 78px;
    }
    .HeroSubHeading {
        text-align: left;
        font-size: 13px;
    }
}