.FAQ {
    padding: 12%;
    padding-top: 0;
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .FAQText {
    font-family: 'Crimson';
    color: #696969;
    font-size: 18px;
}
.FAQContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 110%;
    padding-top: 3%;
    column-gap: 2%;
    row-gap: 90px;
    padding-bottom: 60px;

}

.FAQCard {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FAQContainer {
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    padding: 8%;
}
.FAQHeading {
    font-size: 36px;
    font-family: 'Druk';
    text-align: center;
}

.Question {
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    margin-bottom: 30px;
}

.Answer {
    text-align: left;
    font-size: 21px;
    line-height: 150%;
}

@media screen and (max-width: 700px) {
    .FAQContainer {
        flex-direction: column;
    }
    .FAQHeading {
        text-align: center;
    }
    .Question{
        text-align: center;

    }
    .FAQCard {
        width: 95%;
        flex-direction: column;
    }

}