.MailingList {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 10%;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #696969;
}

.joinMailingList {
    font-size: 32px;
    width: 70%;
    font-family: "Druk";
}

.signUpMailingList {
    font-size: 20px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #EAAA00;
    border: 1px solid #EAAA00;
    padding: 1.5% 7% 1.5% 7%;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.signUpMailingList:hover {
    background-color: #EAAA00;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .MailingList {
        display: none;
    }
}