.Footer {
    padding: 10%;
    padding-top: 4%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    border-top: 1px solid #696969;

}

.FooterContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.FooterList {
    display: flex;
    flex-direction: column;
    width: 21%;
    row-gap: 10px;
}

.FooterListLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.FooterRight {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.FooterLogo {
    width: 40%;
    padding-bottom: 2%;
    cursor: pointer;
}

.FooterListHeading {
    font-family: 'Crimson';
    font-weight: 500;
    font-size: 14px;
}

.FooterListLink {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}

.FooterListLink:hover {
    color: #EAAA00;
}

.FooterListHeading {
    font-weight: 600;
    font-size: 16px;
    color: #a3a3a3;
}

.FooterLink {
    cursor: pointer;
    transition: 0.3s;
}

.FooterLink:hover {
    color: #EAAA00;
}

.FooterListItem {
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.FooterListItem:hover {
    color: #EAAA00;
}

.FooterFooter {
    font-family: 'Crimson';
    color: #7F7F7F;
    font-size: 18px;
    align-items: center;
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.FooterFooterText {
    display: flex;
    align-items: center;
}

.helloSX {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}

.reverseArrow {
    transform: scaleX(-1);
}

.SocialIcons {
    word-spacing: 10px;
    display: flex;
    column-gap: 10px;
}

.socialIcon {
    opacity: 0.8;
    width: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.socialIcon:hover {
    color: #EAAA00;
}

.helloText {
    font-size: 100%;
    transition: 0.3s;
}

.helloText:hover {
    color: #eaaa00;
}

.FooterFooterTop {
    background: #222222;
    color: white;
    width: 80px;
    display: flex;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    border: 0.5px white solid;
    font-style: normal;
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
    height: 45px;
    border-radius: 100px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .FooterListLeft {
        width: 100%;
    }

    .FooterLogo {
        width: 100%;
    }

    .helloText {
        font-size: 120%;
        text-align: center;
    }

    .FooterList {
        width: 50%;
    }

    .FooterRight {
        width: 100%;
        margin-top: 10%;
        row-gap: 50px;
        padding-bottom: 10%;
    }

    .FooterListItem {
        font-size: 18px;
    }

    .Footer {
        padding-top: 50px;
    }

    .FooterListHeading {
        font-size: 20px;
    }
}