.Joining {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background: #111111;
    padding: 15%;
    padding-top: 0;
    padding-bottom: 10%;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    color: white;
}

.Joiningtext {
    font-family: 'Crimson';
    color: #696969;
    font-size: 18px;
}

.JoiningHeading {
    font-size: 36px;
    font-family: 'Druk';
    line-height: 150%;
    text-align: center;
    width: 70%;
}

.JoiningCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    border-bottom: 1px #515151 solid;
    padding-bottom: 5%;
    flex-wrap: wrap;
}

.JoiningCard {
    border: 1px solid #515151;
    border-radius: 4px;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    row-gap: 20px;
    background: #222222;
}

.JoiningCardHeading {
    font-family: 'Crimson';
    font-size: 30px;
}

.JoiningCardBody {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

.JoiningListHeading {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
}

.JoiningListSubheading {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.JoiningListContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    width: 80%;
    flex-wrap: wrap;
    font-size: 19px;
}

.JoiningList {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 150%;
    width: 45%;
    row-gap: 20px;
}

.joinAction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin-top: 2%;
    border: 1px solid white;
    border-radius: 4px;
}

.stayUp {
    font-family: 'Druk';
    font-size: 30px;
    line-height: 125%;
    width: 60%;
}

.follow {
    color: #EAAA00;
    border: 1px solid #EAAA00;
    font-size: 20px;
    padding: 2%;

    border-radius: 4px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 900;
    font-style: normal;
    
    cursor: pointer;
}

.yellow {
    color: #EAAA00
}

@media screen and (max-width: 700px) {
    .JoiningHeading {
        width: 100%;
        font-size: 28px;
    }

    .Joiningtext {
        font-size: 16px;
    }

    .JoiningCard {
        width: 100%;
    }

    .JoiningCardContainer {
        width: 100%;
        row-gap: 30px;
    }

    .Joining {
        padding: 10%;
    }

    .JoiningList {
        width: 100%;
        text-align: center;
    }

    .stayUp {
        font-size: 24px;
        width: 100%;
    }

    .follow {
        font-size: 20px;
        width: 100%;
        margin-top: 30px;
        cursor: pointer;
    }

    .joinAction {
        padding: 5%;
    }
}