.AboutUs {
    background: #111111;
    color: white;
    padding: 5% 10% 10% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 200;
    font-style: normal;
}


.AboutUsHeading {

    font-family: 'Druk';
    font-size: 32px;
    padding-right: 30%;
    padding-bottom: 20px;
}

.AboutUsBody {
    line-height: 150%;
    font-size: 21px;
    width: 50%;
    float: left;
    padding-right:120px;


}
.AboutUsBodyRight {
    padding-left: 22%;
    margin-top: -3%;
    flex-direction: column;
    row-gap: 20px;
    font-size: 21px;
    line-height: 150%;
}

.AboutUsText {
    font-family: 'Crimson';
    color: #696969;
    font-size: 18px;
    padding-bottom: 20px;

}

.AboutUsRight {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    width: 40%;
}

.AboutUsVideo {
    width: 100%;
    border: 1px solid #505050;
    border-radius: 4px;
}

.eventLink {
    font-size: 18px;
    color: #F2B111;
    font-weight: 700;
    padding-right: 2%;
    cursor: pointer;
    transition: 0.3s;
}

.eventLink:hover {
    color: #fff;
}

.eventLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
}

.arrowContainer {
    padding-left: 10px;
}

@media screen and (max-width: 700px) {
    .AboutUsHeading {
        font-size: 28px;
    }

    .AboutUsBody {
        font-size: 20px;
    }

    .AboutUsLeft {
        width: 100%;
    }

    .AboutUsRight {
        width: 100%;
    }

    .AboutUsText {
        font-size: 16px;
    }

    .eventLink {
        font-size:18px;
    }

    .arrowContainer {
        width: 30px;
    }

    .AboutUsRight {
        padding-top: 10%;
    }
}
@media screen and (max-width: 390px) {
    .AboutUs {
        flex-direction: row;
    }
    .AboutUsHeading {
        font-size: 24px;
        padding-right: 5%;
    }
    .AboutUsBody {
        width: 100%;
        padding-right: 1%;
    }
}
